@charset "UTF-8";
/* Typography */
* {
  cursor: default; }

body {
  font-family: "Lato", sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
  -webkit-font-smoothing: subpixel-antialiased; }

a {
  text-decoration: none;
  color: inherit; }

input:focus {
  outline: none; }

/* Main Window */
/* Header */
#toolbar {
  height: 39px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #2a3039;
  border-bottom: 1px solid black;
  -webkit-app-region: drag;
  font-size: 12px;
  padding: 8px 13px;
  box-sizing: border-box; }

#toolbar .user-profile span, #toolbar .user-profile i {
  vertical-align: middle;
  line-height: 22px;
  letter-spacing: 1.3px; }

#toolbar .user-profile i.icon-profile {
  font-size: 22px; }

#toolbar .user-profile span {
  margin: 0 8px; }

#toolbar .user-profile i.icon-arrow-down {
  font-size: 5px; }

#toolbar li {
  position: relative;
  color: #aabebe; }

#toolbar li:hover {
  color: #dadada; }

/* Toolbar Styling */
.sub-menu {
  display: none; }

/* Toolbar-item */
.toolbar-item {
  height: 22px;
  float: left; }

.toolbar-item i {
  font-size: 15px;
  line-height: 22px; }

/* Toolbar-item sub-menu */
.toolbar-item .sub-menu {
  width: 210px !important;
  left: -13px !important; }

.toolbar-item .sub-menu:before {
  left: 10px !important;
  right: inherit !important;
  color: #242931 !important; }

.toolbar-item .sub-menu li:first-of-type {
  background-color: #242931 !important;
  color: white !important;
  padding: 5px 13px !important;
  box-sizing: border-box !important;
  filter: drop-shadow(0 1px 0 rgba(0, 0, 0, 0.5)) !important;
  border-radius: 3px 3px 0 0 !important; }

/* Toolbar-item counter */
.toolbar-item .counter {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #e74c3c;
  display: block;
  position: absolute;
  top: -2px;
  right: -5px;
  font-size: 8px;
  line-height: 12px;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: white; }

/* // end of - Toolbar-item */
#toolbar ul ul {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  background: #2a3039;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
  padding: 0;
  margin: 13px 0 0 0;
  border-radius: 3px; }

#toolbar ul ul:before {
  color: #2a3039;
  position: absolute;
  top: -8px;
  right: 10px;
  font-size: 9px;
  content: "";
  /* icomoon style */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#toolbar ul ul li {
  width: 100%;
  margin: 0;
  padding: 0; }

#toolbar ul ul li a {
  margin: 0;
  padding: 13px;
  display: block; }

#toolbar ul ul li a:hover {
  background-color: rgba(255, 255, 255, 0.075); }

header {
  background-color: #242931;
  color: white;
  border-bottom: 1px solid black;
  font-size: 14px;
  padding: 13px;
  -webkit-user-select: none;
  margin-top: 38px; }

header #logo {
  height: 40px;
  width: auto;
  vertical-align: middle; }

header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  float: right; }

header ul li {
  display: inline-block;
  margin: 0 12.5px; }

header ul li:last-child {
  margin-right: 0; }

header #searchbar_container {
  float: right; }

header #searchbar {
  height: 34px;
  width: 140px;
  margin: 3px 0;
  padding: 0 25px;
  border-radius: 25px;
  background-color: transparent;
  border: 1px solid #dadada;
  color: #dadada;
  line-height: 40px; }

header .icon-search {
  margin-left: -35px;
  vertical-align: middle;
  color: #dadada; }

/* Navigation */
nav {
  float: left;
  width: 240px;
  height: calc(100vh - 105px);
  font-size: 1.4em;
  background-color: #2e343e;
  color: white; }

nav ul {
  margin: 15px 0;
  padding: 0;
  list-style: none; }

nav ul li a {
  padding: 15px 0;
  display: block;
  color: #b4b4b4;
  cursor: default; }

nav ul li a i {
  margin: 0;
  font-size: 20px;
  width: 46px;
  vertical-align: middle;
  display: inline-block;
  text-align: center; }

nav ul li a span {
  vertical-align: middle; }

nav ul li a.active {
  display: block;
  color: inherit; }

nav ul li a.active i {
  color: #9dbe27; }

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.075); }

nav ul li:first-child {
  margin-top: 0px; }

nav ul li:last-child {
  margin-bottom: 0px; }

/* Content */
#content {
  position: fixed;
  z-index: -1;
  left: 240px;
  top: 105px;
  height: calc(100vh - 105px);
  width: calc(100vw - 240px);
  background-color: #f3f6f8;
  overflow: scroll; }
